@import 'commonVariables';

.product-display{


    button{
        background-color:$primaryColor;
        color:black;
        top:40%;
        border-radius:15%;
    }
    li{
        height:auto;
        display:block;
        
        
        
    }
    &__active-img{
       height:auto;;
       display:block;
       width:100%;
        
    }
    h2{
        text-align: center;
    }
    

}