.slider-img {
    height: 25vh;
    text-align: center;
    align-content: center;
}

.slider-center {
    text-align: center;
    justify-content: center;
}

.slider-caption-title {
    font-size: 50px;
    color: rgb(236, 204, 98);
}

.slider-caption-desc {
    font-size: 25px;
    color: rgb(236, 204, 98);
}
