.header{
    background-color: #e1b907;
    display:flex;
}
.header-right{
    text-align: end;

}
.header-center{
    text-align: center;
    font-size:2rem;
    font-family: oswald;
    
}

.header-text{
    color:whitesmoke;
}

.header a:hover{
    color:whitesmoke;
}