@import "./commonVariables";

.header {
    background-color: $primaryColor;
    @media screen and (max-width: 1200px) {
        text-align: center;
    }
    &__item {
        @media screen and (max-width: 1200px) {
            padding-top: 1rem;
        }
        margin: auto;
    }
    &__title {
        color: #ffff;
        @media screen and (min-width: 1200px) {
            padding-top: 0.5rem;
            padding-left: 1rem;
            color: #ffff;
            font-size: 2.5rem;
        }
        @media screen and (max-width: 1200px) {
            padding-top: 0;
        }
    }
    &__login {
        @media screen and (min-width: 1200px) {
            text-align: right;
        }
        @media screen and (max-width: 1200px) {
            padding-bottom: 1rem;
        }
        font-size: 1.5rem;
        color: #ffff;
        text-decoration: none;
        margin-top: 1rem;
    }
    &__link {
        text-decoration: none;
        color: whitesmoke;
    }

    a:hover {
        color: whitesmoke;
    }
}
