@import "./commonVariables";

.header {
    background-color: $primaryColor;
    &__item{
        padding-top:1rem;
        
    }
    &__title{
        padding-top:.5rem;
        padding-left:1rem;
        color:#FFFF;
        font-size:1.5rem;
        
    }
    &__login{
        padding-top:1rem;
        padding-right:2rem;
        padding-bottom:0;
        font-size:1.5rem;
        text-align: right;
        color:#FFFF;
        text-decoration: none;
    }
    &__link{
        text-decoration: none;
        color:whitesmoke;
    }


    a:hover {
        color: whitesmoke;
    }
}

