#showcase {
    background-image: url("../static/img/showcase.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    opacity: 95%;
    padding: 0 20px;
    font-size: 1rem;

    h1 {
        font-size: 75px;
    }

    p {
        font-size: 30px;
    }

    .button {
        font-size: 15px;
        border: 1px solid whitesmoke;
        padding: 10px 20px;
        border-radius: 10px;

        &:hover {
            background: whitesmoke;
            color: rgb(121, 120, 120);
        }
    }
}

.landing {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px #000000;
    padding: 0 20px;
    text-align: center;
}
