.mynav{
    background-color: black;
    opacity: 87%;
    font-size:1.1rem;
    
    
}

.nav-text{
    color: whitesmoke;
}

.nav-right{
    text-align: right;
    margin-left:0px;
    
}

.nav-center{
    text-align:right;
    margin-right:0px;
}