@import './commonVariables';
.nav{
    width:100%;
    background:rgba(0, 0, 0, .40);
    &__text{
        padding:.5rem;
        font-size: .75rem;
        color:#FFF;
    }

    &__logo{
        height:7vh;
        padding-bottom:.5rem;
        
    }
    &__search{
        padding:.25rem;
        font-size:1rem;
        padding-left:1rem;
        border-radius: 3px;
    }
    &__search__input{
        border-radius: 3px;
        border:none;
        box-shadow: transparent;
    }
    &__right{
        padding-top:1rem;
    }
}