@import './commonVariables';
@import '../../node_modules/slick-carousel/slick/slick.css';
@import '../../node_modules/slick-carousel/slick/slick-theme.css';

.product{
    margin:15px;
}

.product-slider {
    margin-top:5%;
    letter-spacing: 1px;

    h2 {
        background: $primaryColor;
        color:#fff;
        padding:1px;
        width:250px;
        height:40px;

        &::after{
            position:relative;
            left:5px;
            top:44px;
            content:'';
            border-top: 40px solid $primaryColor;
            border-right:40px solid transparent;
        }
    }

    img {
        width:100%;
        height:30vh;
        display:flex;
        justify-content: center;
        background-size: cover;
        background-position: center;
    }
}

.rounded-top{
    border-radius: 3% 3% 0 0;
}

.rounded-bottom{
    border-radius: 0% 0% 3% 3%;
}

.product-bottom{
    background-color: $primaryColor;

    h3{
        font-size:1.75rem;
        font-weight: bold;
        color:whitesmoke;
        padding-top:1%;  
    }

    h5{
        font-size:1.5rem;
        padding-bottom:3%;
        color:whitesmoke;
    }

    .fa{
        font-size:20px;
        font-weight: bold;
        
    }
}

.product-overlay{
    display:block;
    opacity:0;
    position:absolute;
    margin-left: 0;
    top:10%;
    width:70px;

    .fas{
        cursor:pointer;
        background-color: $primaryColor;
        color:whitesmoke;
        height:35px;
        width:35px;
        font-size: 20px;
        padding:7px;
        margin:5%;
        margin-bottom:5%;
        border-radius: 3%;
    }

    .btn-secondary{
        background:transparent;
        border: none !important;
        box-shadow:none !important;
    }
}

.hoverme:hover .product-overlay{
    opacity:1;
    margin-left: 5%;
    transition:0.2s;
}

.slick-dots{
    position: relative;
    top:50%;
    z-index: 1;
}

.slides .slick-prev,
.slides .slick-next {
    top: 10%;
    z-index: 1;
}
