.product-slider{
    margin-top:5%;
    letter-spacing: 1px;
}

.product-slider h2{
    background:#e1b907;
    color:#fff;
    padding:1px;
    width:250px;
    height:40px;
}


.product-slider h2::after{
    content:'';
    border-top: 40px solid #e1b907;
    border-right:40px solid transparent;
    left:5px;
    top:44px;
    
    
    position:relative;
}

.product-slider row{
    

}
.product-slider img{
    width:100%;

}
.rounded-top{
    border-radius: 3% 3% 0 0;
}
.rounded-bottom{
    border-radius: 0% 0% 3% 3%;
}
.product-bottom{
    background-color: #e1b907;
   
    
}
.product-bottom h3{
    font-size:1.75rem;
    font-weight: bold;
    color:whitesmoke;
    padding-top:1%
    
    
}

.product-bottom h5{
    font-size:1.5rem;
    padding-bottom:3%;
    color:whitesmoke;

}
.product-bottom .fa{
    font-size:20px;
    font-weight: bold;
    
}
.product-overlay{
    display:block;
    opacity:0;
    position:absolute;
    margin-left: 0;
    top:10%;
    width:70px;
}
.hoverme:hover .product-overlay{
    opacity:1;
    margin-left: 5%;
    transition:0.5s;
}

.product-overlay .fas{
    cursor:pointer;
    background-color:#555;
    color:whitesmoke;
    height:35px;
    width:35px;
    font-size: 20px;
    padding:7px;
    margin:5%;
    margin-bottom:5%;
    border-radius: 3%;
}

.product-overlay .btn-secondary{
    background:transparent;
    border: none !important;
    box-shadow:none !important;
}